* {
	font-family: 'JetBrainsMono Nerd Font', serif;
	font-size: 13px;
	color: #cdd6f4;
}

window#waybar {
	background: transparent;
}

#custom-updates,
#backlight,
#pulseaudio,
#cpu,
#memory,
#battery,
#tray,
#clock,
#network,
#keyboard-state,
#language {
	background: rgba(0, 0, 0, 0.5);
	margin: 6px 0 0;
	padding: 2px 8px;
	border-radius: 8px;
	transition: all 0.3s ease;
}

/* A bit more padding to the right because of the icon */
/* #pulseaudio {
	padding-right: 10px;
} */

#window {
	margin-top: 6px;
	background: transparent;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
}

#window * {
	color: rgba(240, 243, 248, 0.8);
}

#workspaces {
	margin-left: 4px;
}

#workspaces button {
	all: initial;
	background: rgba(0, 0, 0, 0.6);
	padding: 2px 12px;
	margin: 6px 4px 0;
	border-radius: 8px;
	border: 2px solid transparent;
	transition: all 300ms ease-out;
}

#workspaces button * {
	color: rgba(255, 255, 255, 0.67);
}

#workspaces button.active {
	border-color: rgba(51, 204, 255, 0.8);
	text-shadow: 0 0 7px rgba(51, 204, 255, 1);
}

#workspaces button.active * {
	color: rgba(51, 204, 255, 0.8);
	font-weight: 900;
}

#tray {
	border-radius: 8px 0 0 8px;
	padding-left: 12px;
}

#network,
#language,
/* #tray, */
#pulseaudio {
	border-radius: 0;
}

#custom-updates,
#pulseaudio,
#cpu,
#memory,
#battery {
	color: rgba(0, 241, 169, 0.933);
}

#clock {
	margin-right: 8px;
	padding-right: 12px;
	border-radius: 0 8px 8px 0;
}

#network,
#language {
	color: rgba(124, 177, 255, 0.933);
}

/* #custom-updates:hover,
  #pulseaudio:hover,
  #cpu:hover,
  #memory:hover,
  #battery:hover,
  #network:hover,
  #language:hover {
    background: #313240;
  } */
