* {
	font-family: "JetBrainsMono Nerd Font", serif;
	font-size: 13px;
	color: #cdd6f4;
}

window#waybar {
	background: rgba(0, 0, 0, 0.5);
}

#custom-updates,
#backlight,
#pulseaudio,
#cpu,
#memory,
#battery,
#tray,
#clock,
#network,
#keyboard-state,
#language {
	padding: 2px 8px;
	transition: all 0.3s ease;
}

#window {
	background: transparent;
}

#window * {
	color: rgba(240, 243, 248, 0.8);
}

#workspaces {
	margin-left: 8px;
}

#workspaces button {
	all: initial;
	padding: 0 14px;
	border: 2px solid transparent;
	transition: all 300ms ease-out;
}

#workspaces button * {
	color: rgba(255, 255, 255, 0.67);
}

#workspaces button.active {
	border-color: rgba(51, 204, 255, 0.8);
	text-shadow: 0 0 7px rgba(51, 204, 255, 1);
}

#workspaces button.active * {
	color: rgba(51, 204, 255, 0.8);
	font-weight: 900;
}

#tray {
	padding-left: 12px;
}

#custom-updates,
#pulseaudio,
#cpu,
#memory,
#battery {
	color: rgba(0, 241, 169, 0.933);
}

#clock {
	margin-right: 8px;
	padding-right: 12px;
}

#network,
#language {
	color: rgba(124, 177, 255, 0.933);
}
